/* window { */
/*   background-color: #1f2328; */
/*   border: 1px solid #3b4048; */
/* } */
/**/
/* entry { */
/*   background: transparent; */
/*   border: none; */
/*   color: #e6e6e6; */
/*   font-size: 16px; */
/*   padding: 8px; */
/* } */
/**/
/* listview { */
/*   background: transparent; */
/* } */
/**/
/* listview row { */
/*   padding: 8px; */
/*   border-radius: 4px; */
/* } */
/**/
/* listview row:selected { */
/*   background-color: #2a2f36; */
/* } */
