@import "colors.css";

* {
  background-color: @background;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-size: 16px;
}

.modules-right,
.modules-left {
  margin-left: 8px;
}

#custom-updates:hover,
#custom-logo:hover {
  color: @accent;
}

#custom-logo {
  font-size: 26px;
}

#workspaces button.active,
#workspaces button.focused,
#workspaces button:hover,
#custom-logo,
#clock:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-updates,
#cpu:hover {
  color: @primary;
}

#cpu,
#battery,
#network,
#clock,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;

  color: @foreground;
}

#workspaces button {
  all: initial;
  padding: 12px 6px;
  margin: 0 1.5px;
  min-width: 9px;

  color: @foreground;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray {
  margin-right: 16px;
}

#bluetooth,
#network,
#cpu {
  margin-right: 7px;
}


#custom-updates {
  font-size: 15px;
}

#custom-updates,
#pulseaudio {
  margin-right: 9px;
}

#network,
#cpu {
  font-size: 17px;
}

#pulseaudio,
#clock {
  margin-left: 5px;
  font-size: 14px;
}

.hidden {
  opacity: 0;
}
