@define-color background #1e1e1e;
@define-color foreground #8a8a8d;
@define-color primary #1793d1;
@define-color accentLogo #66d9ff;
@define-color disabled #5a5a5a;

* {
  background-color: rgba(30, 30, 30, 0.85);

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#custom-logo:hover {
  color: @accentLogo
}

#workspaces button.active,
#workspaces button.focused,
#worksapces button:hover,
#custom-logo,
#clock:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#cpu:hover {
  color: @primary
}

#cpu,
#battery,
#network,
#clock,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;

  color: @foreground;
}

#workspaces button {
  all: initial;
  padding: 12px 6px;
  margin: 0 1.5px;
  min-width: 9px;

  color: @foreground;
  background: transparent;
  transition: color 0.2s ease, background 0.2s ease;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray {
  margin-right: 16px;
}

#bluetooth,
#network,
#clock {
  margin-right: 7.75px;
}

.hidden {
  opacity: 0;
}
